<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.domi.fightlapyapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WyborZawodniczkiActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ListaZawodniczekActivity"
            android:parentActivityName=".WyborZawodniczkiActivity" />
        <activity
            android:name=".DodanieZawodniczki"
            android:parentActivityName=".WyborZawodniczkiActivity" />
        <activity
            android:name=".udany_zapis_zawodniczki"
            android:parentActivityName=".WyborZawodniczkiActivity" />
        <activity
            android:name=".WyborWydarzeniaActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DodanieWydarzeniaActivity"
            android:parentActivityName=".WyborWydarzeniaActivity" />
        <activity
            android:name=".Udany_zapis_wydarzenia"
            android:parentActivityName=".WyborWydarzeniaActivity" />
        <activity
            android:name=".ListaWydarzenActivity"
            android:parentActivityName=".WyborWydarzeniaActivity" />
        <activity
            android:name=".ZapisZawodniczkiNaWydarzenieActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WybranaZawodniczkaZListy"
            android:parentActivityName=".ListaZawodniczekActivity" />
        <activity
            android:name=".UdanyZapisZawodniczkiNaWydarzenieActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WybraneWydarzenieZListyActivity"
            android:parentActivityName=".WyborWydarzeniaActivity" />
        <activity
            android:name=".ListaWydarzenEdycjaActivity"
            android:parentActivityName=".WyborWydarzeniaActivity" />
        <activity
            android:name=".WybraneWydarzenieZListyEdycja"
            android:parentActivityName=".WyborWydarzeniaActivity" />
        <activity
            android:name=".UdanyEdycjaWydarzenia"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListaZapisanychZawodniczek"
            android:parentActivityName=".ListaWydarzenEdycjaActivity" />
        <activity
            android:name=".ListaZawodniczekEdycjaActivity"
            android:parentActivityName=".WyborZawodniczkiActivity" />
        <activity
            android:name=".WybranaZawodniczkaZListyEdycjaActivity"
            android:parentActivityName=".ListaZawodniczekEdycjaActivity" />

        <activity android:name=".UdanaEdycjaZawodniczkiActivity"
        android:parentActivityName=".ListaZawodniczekEdycjaActivity" />

    </application>

</manifest>