<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.domi.fightlapyapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WyborZawodniczkiActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ListaZawodniczekActivity"
            android:parentActivityName=".WyborZawodniczkiActivity" />
        <activity
            android:name=".DodanieZawodniczki"
            android:parentActivityName=".WyborZawodniczkiActivity" />
        <activity
            android:name=".udany_zapis_zawodniczki"
            android:parentActivityName=".WyborZawodniczkiActivity">
            >
        </activity>
        <activity
            android:name=".WyborWydarzeniaActivity"
            android:parentActivityName=".MainActivity">
            >
        </activity>
        <activity
            android:name=".DodanieWydarzeniaActivity"
            android:parentActivityName=".WyborWydarzeniaActivity"></activity>
        <activity
            android:name=".Udany_zapis_wydarzenia"
            android:parentActivityName=".WyborWydarzeniaActivity"></activity>
        <activity
            android:name=".ListaWydarzenActivity"
            android:parentActivityName=".WyborWydarzeniaActivity"></activity>
        <activity
            android:name=".ZapisZawodniczkiNaWydarzenieActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".WybranaZawodniczkaZListy"
            android:parentActivityName=".ListaZawodniczekActivity"></activity>
        <activity
            android:name=".UdanyZapisZawodniczkiNaWydarzenieActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".WybraneWydarzenieZListyActivity"></activity>
    </application>

</manifest>